<div class="title">
  <h2>players</h2>
</div>

<div class="link-list">
  <% @players.each do |player| %>
  <div class="link-list-item" %>
    <%= link_to player.name, player %>
  </div>
  <% end %>
  <div class="link-list-item" %>
    <%= link_to 'add player...', new_player_path %>
  </div>
</div>

