<div class="title">
  <h2>new player</h2>
</div>

<%= simple_form_for :player, url: players_path do |f| %>
  <%= f.input :name %>
  <div class="center buttoncontainer">
    <%= f.button :button, 'save', type: "submit",  class: "button center" %>
  </div>
<% end %>
