<div class="title">
  <h2>player stats</h2>
</div>

<div class="center">
  <p>name: <%= @player.name %></p>
</div>

<div class="list-button-container">
  <%= link_to 'edit player', edit_player_path(@player), class: "button round" %>
</div>
